.App {
  text-align: center;
}


/* Home Background */
.App-Home {
  display: flex;
}
.appBg {
  flex: 1;
  width: 100%;
}


/* Media Q when at 700px */
@media(max-width: 700px) {
	.appBg {
	  height: 400px;
	}
}