@import url('Home/Home.css');
@import url('Header/Header.css');
@import url('Footer/Footer.css');
/* Items */
@import url('Featured/Featured.css');
@import url('Chairs/Chairs.css');
@import url('Desks/Desks.css');
@import url('Tables/Tables.css');
@import url('Misc/Misc.css');

/* Override CSS */
@import url('Override/Override.css');


.App {
  text-align: center;
}


/* Home Background */

.appBg {
  background-image: url('../../images/ScoutGather.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  border-radius: 0 !important;

}

.appBg--btn {
	position: relative;
	top: 90%;
}


/* Media Q when at 700px */
@media(max-width: 700px) {
	.appBg {
	  height: 100vw;
	}
}