.headerMain {
	height: 80px;
	background-color: #222;
	color: #fff;
	display: flex;
	align-items: center;
}
.navContainer {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
}

.header-icon {
	cursor: pointer;

}

.header-logo {
  animation: header-logo-spin infinite 20s linear;
  height: 55px;
}

@keyframes header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Header Navigation */

.navLink-container {
	flex-grow: 0.1;
}

.navLink-table {
	width: 100%;
	height: 100%;
}
.navLink-table div {
	text-decoration: underline;
}

.navLink {
	cursor: pointer;
}

/* Media Q when at 700px */
@media(max-width: 700px) {
	.headerMain {
		height: 50px;
	}
}
