
.header-icon {
	cursor: pointer;
}
.header-icon a {
	color: white;
}

.header-logo {
  animation: header-logo-spin infinite 20s linear;
  height: 40px;
}

@keyframes header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Additions to bootstrap Navbar */
.navbar-header {
	display: flex;
	align-items: center;
	height: 65px;
}
.navbar-brand {
	display: flex;
	align-items: center;
	flex: 1;
}

.navbar {
	border: none;
    margin-bottom: 0;
}


/* DESKTOP MEDIAQ */
@media (min-width: 768px) {
	.navbar-nav {
		margin: 7.5px -15px;
		padding-left: 5%;
	}
}


